third_party/
libboost1.61-prefix/
CMakeFiles/
Makefile
cmake_install.cmake
build/
log/
ddio_tools/*

.cache
.vscode
__pycache__
compile_commands.json

# no .txt, except cmakelist
*.txt
!CMakeLists.txt

# no vim files
*~

# no exe files, except .sh, .py, etc.
scripts/*
!scripts/*.*

# output data
benchres*.json
*.png
!demo.png

# user config
configs/*
!configs/.gitkeep