# 3rd party files
third_party/
libboost1.61-prefix/
ddio_tools/*

# normal build files
build/
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# normal cache
.cache
.vscode
__pycache__

# .txt, except cmakelist
*.txt
!CMakeLists.txt

# vim files
*~

# exe files, except .sh, .py, etc.
scripts/*
!scripts/*.*

# output data, except .gitkeep
benchres*.json
benchres/*
!benchres/.gitkeep
benchres-wait/
img/
img_compare/
log/

# user config
configs/
